<h1>Houses</h1>

  <div id="map-container">
    <div id="map-canvas">
    </div>
  </div>

  <script>
    function initialize() {
      var myLatlng = makeLatLng(34.04948772763669, -118.2398127950728);
      var mapOptions = {
        zoom: 9,
        center: myLatlng
    }
    
    function makeLatLng(lat, lng){
      return new google.maps.LatLng(lat, lng);     
    }

    function makeMarker(lat, lng){
       new google.maps.Marker({
        position: makeLatLng(lat, lng),
        map: map
        });
    }

    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    
    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map
    });

    <% @houses.each do |house|  %>
      makeMarker(<%= house.latitude %>, <%= house.longitude %>);
    <% end %>

    makeMarker(34.05, -118.45);

    google.maps.event.addListener(map, 'click', function(event){ 
      makeMarker(event.latLng.k,event.latLng.D);
      createHouse(event.latLng.k,event.latLng.D); 
    });

    function createHouse(lat, lng) {
      $.ajax
      ({
        type: "POST",
        datatype: "json",
        url: "/houses",
        data: { house: { latitude: lat, longitude: lng} }
      });
    }
    
  }
   google.maps.event.addDomListener(window, 'load', initialize);
 
  


  </script>